[user]
	name = Santhosh Sundararaman
	email = 5712605+santhoshsram@users.noreply.github.com
[credential]
	helper = cache --timeout=21600
[core]
	editor = vim
[alias]
   a = add
   s = status
   d = diff
   cm = commit
   co = checkout
   br = branch
   wta = worktree add
   wtl = worktree list
   wtm = worktree move
   wtr = worktree remove
   ls-br = show-branch --list
   opened = diff --stat
   logs = "!f() { git log --pretty=format:'%H %C(cyan) %s %Creset [%ad] %Creset [%an]' --date=format:'%Y-%m-%d %H:%M' --max-count=${1:-5}; }; f"
   logas = "!f() { git log --pretty=format:'%h %C(cyan) %s %C(yellow) [%ad] %Creset [%an]' --date=format:'%Y-%m-%d %H:%M' --max-count=${1:-5}; }; f"
   logm = "!f() { git log --pretty=format:'%H %C(cyan) %s %Cblue %cn %n%b' --max-count=${1:-5}; }; f"
   logam = "!f() { git log --pretty=format:'%h %C(cyan) %s %Cblue %cn %n%b' --max-count=${1:-5}; }; f"
   graph-nosha = "!f() { git log --graph --topo-order -C -M --pretty=format:'%Cred%d%Creset %s [%ad] [%an]' --all --date=format:'%Y-%m-%d %H:%M' --max-count=${1:-5}; }; f"
   graph = "!f() { git log --graph --topo-order --date=format:'%Y-%m-%d %H:%M' --all -C -M --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white) - %an on [%ad], %ar%Creset''' --max-count=${1:-5}; }; f"
	deleted-branches = !git fetch --all --prune && git branch -vv | grep \": gone]\"
[push]
	default = current
[pull]
	rebase = false
	ff = only
[init]
	defaultBranch = main
